name: Unit Tests

on:
  push:
    branches: [master]

  pull_request:
    branches: [master]

jobs:
  unit-test:
    name: Run build and unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: build python image
        run: |
          docker build -t python-no-root -f docker/python.Dockerfile ./docker

      - name: Build
        run: cargo build

      - name: test
        run: cargo test
